POSTGRES_USER=postgres
POSTGRES_PASSWORD=rootpassword
POSTGRES_DB=spruzhuk
DATABASE_URL=postgresql+asyncpg://postgres:rootpassword@db:5432/spruzhuk
SECRET_KEY=9e56d6627b591d6049d2e88090d331d329cfe088fddca51e8060e772d136d357
GOOGLE_CLIENT_ID=676254181092-tuo565l0o1ucu5e5f3cnh9o3ehvk3f8c.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SENTRY_DSN=
